main {
    /* background-color: var(--cor-lilasclarinhofundo); */
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container-flex-publi {
    /* background-color: darkslategray; */
    /* height: 700px; */
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

/* .container-flex-publi > section{ 
    background-color:deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */

#storys {
    width: 100%;
    /* background-color: var(--cor-lilas); */
    /* height: 300px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 30px;

}

#storys::-webkit-scrollbar {
    width: 0;

}

.card-story {
    /* background-color: var(--cor-lilasclarinhofundo); */

}

.card-story>button {
    background-color: transparent;
    border: none;
    /* text-decoration: none; */
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-pretoazulado);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-story>button>img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#campo-upload {
    display: none;
}

.upload-up {
    Font-family: sans-serif;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: var(--cor-lilasclarinho);
    color: var(--cor-branco);
    text-align: center;
}

/* secao criar publi */

.formulario-botao-roxo {
    width: 120px;

}

#criar-publi {
    padding: 25px;
}

#criar-publi>h2 {
    Font-family: sans-serif;
    color: var(--cor-pretoazulado);
    font-size: var(--tamanho-fonte-lg);
    font-weight: 700;
    padding: 10px;
    /* background-color: var(--cor-cinzaclaro); */
    color: var(--cor-lilas);
}

#criar-publi>form>textarea {
    width: 100%;
    height: 80px;
    padding: 20px;
    resize: none;
    border: var(--borda);
    background-color: var(--cor-cinzamedio);
    font-size: var(--tamanho-fonte-md);
    font-family: sans-serif;
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

textarea::placeholder {
    color: var(--cor-lilasclarinho);
}



.card-publi>header>a {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: var(--cor-roxoazulado);
    text-decoration: none;
    padding: 10px;

}

.card-publi > figure {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.imagem-publi{
object-fit: cover;
object-position: center;
width: 100%;
height: 530px;
padding: 10px;

}


.card-publi > figure > figcaption{
color: var(--cor-pretoazulado);
font-size: var(--tamanho-fonte-md);
font-weight: 500;
display: flex;
align-items: center;
column-gap: 5px;
margin: 15px;
order: 2;
}

.descricao-publi{
font-size: var(--tamanho-fonte-sm);
font-weight: 400;
display: flex;
align-items: center;
    
}


.interacoes-publicacao{
display: flex;
width: 90px;
flex-wrap: wrap;
justify-content: space-between;
order: 1;
margin-left: 15px;
margin-top: 15px;
}

.interacoes-publicacao > button{

background-color: transparent;
border: none;
}

.card-publi > figure > button{
background-color: transparent;
border: none;
color: var(--cor-lilas);
font-size: var(--tamanho-fonte-sm);
order: 3;

margin-left: 15px;

}

/* .estilo-formulario {
    max-width: 342px;
} */