main {
    /* background-color: var(--cor-lilasclarinhofundo); */
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container-flex-publi {
    background-color: aqua;
    height: 700px;
    width: 90%;
    max-width: 900px;
}

/* .container-flex-publi > section{ 
    background-color:deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */

#storys {
    width: 100%;
    /* background-color: var(--cor-lilas); */
    /* height: 300px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 30px;

}

#storys::-webkit-scrollbar{
width: 0;

}

.card-story {
    /* background-color: var(--cor-lilasclarinhofundo); */

}

.card-story >button {
    background-color: transparent;
    border: none;
    /* text-decoration: none; */
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-pretoazulado);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-story>button>img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#campo-upload{
    display: none;
}

.upload-up{
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: var(--cor-lilasclarinho);
    color: var(--cor-branco);
    text-align: center;
}

/* secao criar publi */

.formulario-botao-roxo{
    width: 120px;
}


/* .estilo-formulario {
    max-width: 342px;
} */
